.vh-app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Low-opacity background image for the whole app.
     Place your image at: public/images/london.jpg */
  // background: linear-gradient(to bottom, 92), url('/images/london.jpg') center/cover no-repeat fixed;

  //  background: linear-gradient(to bottom, rgba(2, 6, 23, 0.8), rgba(2, 6, 23, 0.92)),
  //     url('/images/london.jpg') center/cover no-repeat fixed;

  background: linear-gradient(to bottom, rgba(23, 132, 50, 0.8), rgba(183, 219, 136, 0.92)),
    /* The dark overlay */ url('/images/london.jpg') center/cover no-repeat fixed;

  background-attachment: fixed;
}
