@use '@angular/material' as mat;

// Color variables from your color scheme
$dusty-mauve: #987284ff;
$muted-teal: #9dbf9eff;
$beige: #d0d6b5ff;
$powder-blush: #f9b5acff;
$light-coral: #ee7674ff;

// Create custom Angular Material palettes
$city-primary-palette: (
  0: #000000,
  10: #2a1220,
  20: #42213a,
  25: #4f2744,
  30: #5c2e4e,
  35: #6a3658,
  40: #793e63,
  50: #987284,
  // Our dusty-mauve
  60: #b188a5,
  70: #cca0c2,
  80: #e7b8dd,
  90: #ffd8f0,
  95: #ffedf7,
  98: #fffbff,
  99: #fffbff,
  100: #ffffff,
  contrast: (
    0: #ffffff,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #ffffff,
    60: #000000,
    70: #000000,
    80: #000000,
    90: #000000,
    95: #000000,
    98: #000000,
    99: #000000,
    100: #000000,
  ),
);

$city-secondary-palette: (
  0: #000000,
  10: #0f2312,
  20: #243926,
  25: #2f4531,
  30: #3b513c,
  35: #475d48,
  40: #536954,
  50: #6c836d,
  60: #859d86,
  // Our muted-teal
  70: #9fb8a0,
  80: #bad4bb,
  90: #d6f1d6,
  95: #e4ffe4,
  98: #f0fff0,
  99: #f7fff7,
  100: #ffffff,
  contrast: (
    0: #ffffff,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #ffffff,
    60: #000000,
    70: #000000,
    80: #000000,
    90: #000000,
    95: #000000,
    98: #000000,
    99: #000000,
    100: #000000,
  ),
);

$city-tertiary-palette: (
  0: #000000,
  10: #2c1f00,
  20: #453500,
  25: #514000,
  30: #5e4c00,
  35: #6b5900,
  40: #796600,
  50: #968000,
  60: #b39c00,
  // Our beige adjusted
  70: #d0b800,
  80: #edd500,
  90: #fff0c4,
  95: #fff8e1,
  98: #fffbff,
  99: #fffbff,
  100: #ffffff,
  contrast: (
    0: #ffffff,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #000000,
    60: #000000,
    70: #000000,
    80: #000000,
    90: #000000,
    95: #000000,
    98: #000000,
    99: #000000,
    100: #000000,
  ),
);

$city-error-palette: (
  0: #000000,
  10: #410e0b,
  20: #601410,
  25: #6c1d13,
  30: #790711,
  35: #88070f,
  40: #97080d,
  50: #b7261b,
  // Our light-coral adjusted
  60: #d73527,
  70: #f2483a,
  80: #ff5449,
  90: #ffcdcd,
  95: #ffedea,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
  contrast: (
    0: #ffffff,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #ffffff,
    60: #ffffff,
    70: #ffffff,
    80: #000000,
    90: #000000,
    95: #000000,
    98: #000000,
    99: #000000,
    100: #000000,
  ),
);

$city-neutral-palette: (
  0: #000000,
  4: #0f0e0e,
  6: #141313,
  10: #1c1b1b,
  12: #201f1f,
  17: #2b2a2a,
  20: #313030,
  22: #353434,
  24: #393838,
  25: #3a3939,
  30: #464545,
  35: #525151,
  40: #5e5d5d,
  50: #777676,
  60: #919090,
  70: #acabab,
  80: #c8c6c6,
  87: #d9d7d7,
  90: #e5e2e2,
  92: #eae8e8,
  94: #f1eeee,
  95: #f4f1f1,
  96: #f7f4f4,
  98: #fcf9f9,
  99: #fefcfc,
  100: #ffffff,
  contrast: (
    0: #ffffff,
    4: #ffffff,
    6: #ffffff,
    10: #ffffff,
    12: #ffffff,
    17: #ffffff,
    20: #ffffff,
    22: #ffffff,
    24: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #ffffff,
    60: #000000,
    70: #000000,
    80: #000000,
    87: #000000,
    90: #000000,
    92: #000000,
    94: #000000,
    95: #000000,
    96: #000000,
    98: #000000,
    99: #000000,
    100: #000000,
  ),
);
