<div class="vh-map-canvas">
  <div #mapContainer class="vh-map-canvas__container"></div>

  <div class="vh-map-canvas__controls">
    <button
      mat-mini-fab
      type="button"
      color="primary"
      (click)="locateMe()"
      aria-label="Locate me"
    >
      <mat-icon>my_location</mat-icon>
    </button>

    <button
      mat-mini-fab
      type="button"
      [color]="is3d() ? 'accent' : undefined"
      (click)="toggle3d()"
      aria-label="Toggle 3D buildings"
    >
      <mat-icon>view_in_ar</mat-icon>
    </button>
  </div>
</div>


