@use '@angular/material' as mat;
@use './app/shared/styles/themes' as themes;
@use './app/shared/styles/utilities';

// Include theming for Angular Material with custom themes
html {
  height: 100%;

  // Include the default light theme
  @include themes.city-history-light-theme();
}

// Dark theme class
html.dark-theme {
  @include themes.city-history-dark-theme();
}

body {
  // Set default application styles
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* You can add global styles to this file, and also import other style files */
